<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~user3/SOAP_task2/task2/client/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$  index.php?page=$1 [QSA]
</IfModule>